<div class="card" style="width: 50rem;">
	<div class="card-body">
		{{ form_start(form) }}

		{{ form_row(form.Titre) }}

		{{ form_row(form.Message) }}

		{{ form_row(form.Date) }}

		{{ form_row(form.Demandeur) }}

		{{ form_row(form.Agent) }}

		{{ form_rest(form) }}

		{{ form_end(form) }}
	</div>
</div>
