{% extends 'base.html.twig' %}

{% block h1 %}
	<h1>Ticket</h1>
{% endblock %}

{% block nav %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-header">
			<i class="bi bi-person-circle"></i>
			Information d'utilisateur
		</div>
		<div class="card-body">
			<div class="container">
				<div class="row">
					<div class="col">
							<img src="uploads/profile/{{app.user.photo}}" class="mx-auto d-block rounded-circle z-depth-2" style=" width: 30%;" alt="Image de profil">
						

					</div>
					<div class="col" id="UserInfo">
						<p>Nom :
							{{ app.user.name }}</p>
						<p>Prénom :
							{{ app.user.firstname }}</p>
						<p>Nom d'utilisateur :
							{{ app.user.username }}</p>
						<p>E-mail :
							{{ app.user.email }}</p>
						<button type="button" class="btn btn-warning" onclick="showDivTicketFerme()">
							<i class="bi bi-pencil-square"></i>
							Modifier le profil</button>
					</div>
					<div class="col" id="FormEdit" style="display:none;">
						{{ form(userForm) }}
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<i class="bi bi-sticky-fill"></i>
				Informations sur les tickets
			</div>
			<div class="card-body">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-header">
									Tickets mis en ligne
								</div>
								<div class="card-body">
									{{TtllTicket}}
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card-header">
								Tickets en cours
							</div>
							<div class="card">
								<div class="card-body">
									{{TtlTicketEC}}
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card-header">
								Tickets résolu
							</div>
							<div class="card">
								<div class="card-body">
									{{TtlTicketR}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			function showDivTicketFerme() {


document.getElementById("FormEdit").style.display = 'inline';
document.getElementById("UserInfo").style.display = 'none';

}
function showDivTickets() {


document.getElementById("TicketsFerme").style.display = 'none';
document.getElementById("Tickets").style.display = 'inline';

}
		</script>
	{% endblock %}
